<%= form_for ['admin', @shop, @field] do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :text %>
        <%= f.text_field :text %>
      </li>
      <li>
        <%= f.check_box :required %>
        <%= f.label :required %>
      </li>
      <li>
        <%= f.check_box :is_receipt_email %>
        <%= f.label :is_receipt_email, 'Send receipt to this email address' %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
