<% @shop.free_shipping_over = 1000000 if not @shop.free_shipping_over %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <%== markdown @shop.receipt_text %>

    <br>
    <br>

    <table border="0" style="border-collapse: collapse;">
      <thead>
        <tr style="color: #fff; background-color: #999;">
          <th colspan="7" style="text-align: left;">
            Ordre #<%= @order.id %>
            <%= " (#{@order.transaction_id})" if @order.transaction_id %>
            <%= " | #{@order.payment} DKK" if @order.payment %>
          </th>
          <th style="text-align: right;"><%= (@order.created_at + 7200).to_s(:short) %></th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <tr style="background-color: #<%= cycle 'fff', 'eee' %>; border-bottom: 1px solid #999;">
            <td style="padding-right: 16px;"><%= line_item.product_name %></td>
            <td style="padding-right: 16px;"><%= line_item.product_number %></td>
            <td style="padding-right: 16px;"><%= line_item.product_supplier_number %></td>
            <td style="padding-right: 16px;"><%= line_item.product_brand %></td>
            <td style="padding-right: 16px;">
              <% line_item.variations.each do |variation| %>
                <%= variation.option_set_name %>:
                <%= variation.option_name %>
                <% if variation.gross_price or variation.net_price %>
                  (+ 
                  <% if variation.gross_price %>
                    <% if variation.gross_price % 1 == 0%>
                      <%= " #{variation.gross_price.to_i} #{@shop.currency}" %>
                    <% else %>
                      <%= " #{number_to_currency variation.gross_price, unit: @shop.currency, format: '%n %u'}" %>
                    <% end %>
                  <% end %>
                  <% if variation.net_price %>
                    /
                    <% if variation.net_price % 1 == 0%>
                      <%= " #{variation.net_price.to_i} kr." %>
                    <% else %>
                      <%= " #{number_to_currency variation.net_price, unit: 'kr.', format: '%n %u'}" %>
                    <% end %>
                  <% end %>
                  )
                <% end %>

                <br>
              <% end %>
            </td>
            <td style="padding-right: 16px;">
              <% if line_item.product_gross_price %>
                <% if line_item.product_gross_price % 1 == 0 %>
                  <%= "#{line_item.product_gross_price.to_i} #{@shop.currency}" %>
                <% else %>
                  <%= number_to_currency line_item.product_gross_price, unit: @shop.currency, format: '%n %u' %>
                <% end %>
              <% end %>
              <% if line_item.product_net_price %>
                /
                <% if line_item.product_net_price % 1 == 0 %>
                  <%= "#{line_item.product_net_price.to_i} kr." %>
                <% else %>
                  <%= number_to_currency line_item.product_net_price, unit: 'kr.', format: '%n %u' %>
                <% end %>
              <% end %>
            </td>
            <td style="padding-right: 16px; text-align: right;"><%= line_item.quantity %> stk.</td>
            <td style="text-align: right;">
              <% if line_item.gross_price %>
                <% if line_item.gross_price % 1 == 0 %>
                  <%= "#{line_item.gross_price.to_i} #{@shop.currency}" %>
                <% else %>
                  <%= number_to_currency line_item.gross_price, unit: @shop.currency, format: '%n %u' %>
                <% end %>
              <% end %>
              <% if line_item.net_price %>
                /
                <% if line_item.net_price % 1 == 0 %>
                  <%= "#{line_item.net_price.to_i} kr." %>
                <% else %>
                  <%= number_to_currency line_item.net_price, unit: 'kr.', format: '%n %u' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
          <tr style="color: #fff; background-color: #999;">
            <th colspan="7" style="text-align: left;">Pris</th>
            <th style="text-align: right;">
              <% if @order.gross_price %>
                <% if @order.gross_price % 1 == 0 %>
                  <%= "#{@order.gross_price.to_i} #{@shop.currency}" %>
                <% else %>
                  <%= number_to_currency @order.gross_price, unit: @shop.currency, format: '%n %u' %>
                <% end %>
              <% end %>
              <% if @order.net_price %>
                /
                <% if @order.net_price % 1 == 0 %>
                  <%= "#{@order.net_price.to_i} kr." %>
                <% else %>
                  <%= number_to_currency @order.net_price, unit: 'kr.', format: '%n %u' %>
                <% end %>
              <% end %>
            </th>
          </tr>
        <% if @shop.shipping_price and @order.gross_price and @order.gross_price < @shop.free_shipping_over %>
          <tr style="color: #fff; background-color: #999;">
            <th colspan="7" style="text-align: left;">Fragt</th>
            <th style="text-align: right;">
              <%= number_to_currency @shop.shipping_price, unit: 'kr.', format: '%n %u' %>
            </th>
          </tr>
          <tr style="color: #fff; background-color: #999;">
            <th colspan="7" style="text-align: left;">Total</th>
            <th style="text-align: right;">
              <%= number_to_currency(@order.gross_price + @shop.shipping_price, unit: @shop.currency, format: '%n %u') %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <br>

    <% if @order.payment %>
      <table>
        <tr>
          <th style="text-align: left;">Budget/fakturering</th>
          <% if @shop.shipping_price and @order.gross_price < @shop.free_shipping_over %>
            <td><strong>-<%= (@order.gross_price + @shop.shipping_price) - (@order.payment * (@shop.add_vat ? 0.8 : 1.0)) %> DKK</strong></td>
          <% else %>
            <td><strong>-<%= @order.gross_price - (@order.payment * (@shop.add_vat ? 0.8 : 1.0)) %> DKK</strong></td>
          <% end %>
        </tr>
        <tr>
          <td style="text-align: left;">Egenbetaling</td>
          <td><%= @order.payment * (@shop.add_vat ? 0.8 : 1.0) %> DKK</td>
        </tr>
        <% if @shop.add_vat %>
        <tr>
          <td style="text-align: left;">+ Moms 25%</td>
          <td><%= @order.payment * 0.2 %> DKK</td>
        </tr>
        <% end %>
        <tr>
          <td style="text-align: left;">Betalt</td>
          <td><%= @order.payment %> DKK</td>
        </tr>
      </table>
    <% end %>

    <br>
    <br>

    <strong>Kundeoplysninger</strong>
    <table>
      <% {
          'Firma' => @shop.name,
          'Afdeling' => @user.department,
          'Navn' => @user.name,
          'Adresse' => @user.address,
          'Telefon' => @user.phone,
          'Email' => @user.email,
          'Noter' => @user.text
        }.each_pair do |key, value| %>
        <% unless value.blank? %>
        <tr>
          <td style="font-weight: bold;"><%= key %>
          <td><%= value %></td>
        </tr>
        <% end %>
      <% end %>
    </table>

    <br>
    <br>

    <% unless @order.comment.blank? %>
      <strong>Kommentar</strong><br>
      <%= @order.comment %>
    <% end %>

    <% unless @order.fields.blank? %>
      <% @order.fields.split("\n").each do |field| %>
        <%= field %><br>
      <% end %>
    <% end %>

    <% if @order.user.balance %>
      <strong>NB: <%= @order.user.name %> har efter denne ordre en saldo p&aring; <%= number_to_smart_currency @order.user.balance, @shop.currency %>.</strong>
    <% end %>
  </body>
</html>
