<%= form_for ['admin', @shop, @category] do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name, class: 'required' %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :reorder_period, 'Reorder period in days' %>
        <%= f.number_field :reorder_period %>
      </li>
      <%= content_tag :li do %>
        <%= f.label :parent_id, 'Parent' %>
        <%= f.collection_select :parent_id, @categories, :id, :indented_name_for_select, include_blank: true %>
      <% end unless @categories.empty? %>
      <% @shop.access_groups.each do |access_group| %>
        <li>
          <%= check_box_tag 'category[access_group_ids][]', access_group.id, @category.access_groups.include?(access_group) %>
          <%= f.label access_group.name %>
        </li>
      <% end %>
    </ol>
  </fieldset>
  <fieldset>
    <%= f.submit %>
    <%= link_to 'Cancel', request.referer %>
  </fieldset>
<% end %>
