<%= form_for ['admin', @shop, @category] do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name, class: 'required' %>
        <%= f.text_field :name %>
      </li>
      <%= content_tag :li do %>
        <%= f.label :parent_id, 'Parent' %>
        <%= f.collection_select :parent_id, @categories, :id, :indented_name_for_select, include_blank: true %>
      <% end unless @categories.empty? %>
    </ol>
  </fieldset>
  <fieldset>
    <%= f.submit %>
    <%= link_to 'Cancel', request.referer %>
  </fieldset>
<% end %>
