<%= form_for ['admin', @shop, @category] do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name, class: 'required' %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :parent_id, 'Parent' %>
        <%= f.collection_select :parent_id, @categories.nested(@category), :id, :path, include_blank: true %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <%= f.submit %>
    <%= link_to 'Cancel', request.referer %>
  </fieldset>
<% end %>
