<ul id="breadcrumbs">
  <li><%= @shop.name %></li>
  <li>Categories</li>
</ul>

<div class="actions">
  <%= form_for ['admin', @shop, @category] do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
</div>

<%= content_tag :ol, id: 'categories', data: { 'update-url' => sort_admin_shop_categories_path(@shop) } do %>
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
<% end unless @categories.empty? %>
