<%= form_for ['admin', @shop, @product] do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name, class: 'required' %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :number %>
        <%= f.text_field :number %>
      </li>
      <li>
        <%= f.label :supplier_number %>
        <%= f.text_field :supplier_number %>
      </li>
      <li>
        <%= f.label :brand %>
        <%= f.text_field :brand %>
      </li>
      <li>
        <%= f.label :text %>
        <%= f.text_area :text %>
      </li>

      <li id="image_fields">
        <%= f.label :images %>
        <%= f.fields_for :images do |ff| %>
          <%= ff.file_field :image, class: 'first', data: { id: @product.images.count } unless ff.object.id %>
        <% end %>
      </li>

      <%= content_tag :li do %>
        <ol id="images" data-update-url="<%= sort_admin_shop_product_images_path(@shop, @product) %>">
          <% @product.images.each do |image| %>
            <%= content_tag_for :li, image do %>
              <%= image_tag image.image_url(:tiny) if image.image_url %>
              <%= link_to 'X', admin_shop_product_image_path(@shop, @product, image), class: 'delete', data: { confirm: 'Are you sure?' }, method: :delete if image.id %>
            <% end %>
          <% end %>
        </ol>
      <% end unless @product.new_record? %>

      <li>
        <%= f.label :category_id, 'Category' %>
        <%= f.collection_select :category_id, @categories, :id, :indented_name_for_select %>
      <li>
      <li>
        <%= f.label :gross_price %>
        <%= f.number_field :gross_price %>
      </li>
      <li>
        <%= f.label :net_price %>
        <%= f.number_field :net_price %>
      </li>
    </ol>
  </fieldset>

  <%= content_tag :fieldset, class: @product.advanced? ? nil : 'advanced' do %>
    <ol>
      <li>
        <%= f.label :environment_fee %>
        <%= f.number_field :environment_fee %>
      </li>
      <li>
        <%= f.label :parcel_size %>
        <%= f.number_field :parcel_size %>
      </li>
    </ol>
  <% end %>

  <fieldset>
    <ol>
      <li>
        <%= label_tag :option_set_id, 'Add option set' %>
        <%= select_tag :option_set_id, options_from_collection_for_select(OptionSet.exclude(@product.option_sets), :id, :name_with_text), include_blank: true %>
      </li>
    </ol>
  </fieldset>

  <% @product.option_sets.each do |option_set| %>
    <fieldset>
      <legend><%= option_set.name %></legend>
      <ol>
        <% option_set.option_groups.each do |option_group| %>
          <li>
            <%= label_tag :option_group_id, option_group.name %>
              <ol>
                <% option_group.options.each do |option| %>
                  <li>
                    <%= check_box_tag 'product[option_ids][]', option.id, @product.options.include?(option), id: dom_id(option) %>
                    <%= label_tag dom_id(option), option.name %>
                    <% if @product.options.include?(option) %>
                      <% variant = option.variants.where(product_id: @product.id).last %>
                      <%= number_field_tag "variants_attributes[#{variant.id}][gross_price]", variant.gross_price, placeholder: 'Gross price' %>
                      <%= number_field_tag "variants_attributes[#{variant.id}][net_price]", variant.net_price, placeholder: 'Net price' %>
                    <% end %>
                    <%# [variants_attributes][7][gross_price] %>
                  </li>
                <% end %>
              </ol>
          </li>
        <% end %>
      </ol>
    </fieldset>
  <% end %>

  <fieldset>
    <%= f.submit %>
    <%= link_to 'Cancel', request.referer %>
  </fieldset>
<% end %>
