<ul id="breadcrumbs">
  <li><%= @shop.name %></li>
  <li>Products</li>
</ul>

<div id="actions">
  <%= link_to 'New product', new_admin_shop_product_path(@shop) %>
</div>

<%= form_tag edit_multiple_admin_shop_products_path(@shop), class: :copy_products do %>
  <fieldset>
    <%= select_tag :copy_shop_id, options_from_collection_for_select(Shop.all, :id, :name), prompt: 'Copy to shop...' %>
  </fieldset>

  <table id="products">
    <tbody data-update-url=<%= sort_admin_shop_products_path(@shop) %>>
      <%= render @products %>
    </tbody>
  </table>

  <br>
<% end unless @products.empty? %>
