<ul id="breadcrumbs">
  <li><%= @shop.name %></li>
  <li>Products</li>
</ul>

<div>
  <%= link_to 'New product', new_admin_shop_product_path(@shop) %>
</div>

<table id="products">
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= link_to product.name, edit_admin_shop_product_path(@shop, product) %><br>
          <%= product.brand %><br>
          <%= product.number %><%= " (#{product.supplier_number})" unless product.supplier_number.blank? %>
        </td>
        <td>
          <%= product.category.path %></br>
          <br>
          <% unless product.net_price.blank? %>
            <%= number_to_smart_currency product.net_price %>
          <% end %>
          <%= '/' unless product.net_price.blank? or product.gross_price.blank? %>
          <%= content_tag :strong do %>
            <%= number_to_smart_currency product.gross_price, @shop.currency %>
          <% end unless product.gross_price.blank? %>
        </td>
      </tr>
    <% end %>
  </tbody>
<table>
