<%= form_for ['admin', @option_set] do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name, class: 'required' %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :text %>
        <%= f.text_field :text %>
      </li>
      <li>
        <%= f.check_box :optional %>
        <%= f.label :optional %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <ol>
      <%= f.fields_for 'option_groups' do |ff| %>
        <li>
          <%= ff.label :name, 'Option group', class: 'required' %>
          <%= ff.text_field :name %>
          <%= ff.fields_for 'options' do |fff| %>
            <ol>
              <li>
                <%= fff.label :name, 'Option', class: 'required' %>
                <%= fff.text_field :name %>
              </li>
            </ol>
          <% end %>
        </li>
      <% end %>
    </ol>
  </fieldset>
  <fieldset>
    <%= f.submit %>
    <%= link_to 'Cancel', request.referer %>
  </fieldset>
<% end %>
