<ul id="breadcrumbs">
  <li>Option sets</li>
</ul>

<div id="actions">
  <%= link_to 'New option set', new_admin_option_set_path %>
</div>

<%= content_tag :table, id: 'option_sets' do %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Text</th>
      <th>Options</th>
      <th>Optional</th>
    </tr>
  </thead>
  <tbody>
    <% @option_sets.each do |option_set| %>
      <tr>
        <td><%= link_to option_set.name, edit_admin_option_set_path(option_set) %></td>
        <td><%= option_set.text %></td>
        <td><%= option_set.options.collect(&:name) * ', '  %></td>
        <td><%= 'Optional' if option_set.optional %></td>
      </tr>
    <% end %>
  </tbody>
<% end unless @option_sets.empty? %>
