<%= form_for ['admin', @shop, @user] do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :login, (@shop.login_text.blank? ? 'Login' : @shop.login_text) %>
        <%= f.text_field :login %>
      </li>
      <li>
        <%= f.label :password, (@shop.password_text.blank? ? 'Password' : @shop.password_text) %>
        <%= f.text_field :password, value: @user.plaintext_password %>
      </li>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>
      <li>
        <%= f.label :department %>
        <%= f.text_field :department %>
      </li>
      <li>
        <%= f.label :manager_id %>
        <%= f.collection_select :manager_id, @shop.users.managers, :id, :name, include_blank: true %>
      </li>
      <li>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </li>
      <li>
        <%= f.label :address %>
        <%= f.text_area :address %>
      </li>
      <li>
        <%= f.label :text %>
        <%= f.text_area :text %>
      </li>
      <li>
        <%= f.label :budget %>
        <%= f.number_field :budget %>
      </li>
      <li>
        <%= f.label :balance %>
        <%= f.number_field :balance %>
      </li>
      <li>
        <%= f.check_box :is_active %>
        <%= f.label :is_active, 'Active' %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <ol>
      <% @shop.access_groups.each do |access_group| %>
        <li>
          <%= check_box_tag 'user[access_group_ids][]', access_group.id, @user.access_groups.include?(access_group) %>
          <%= f.label access_group.name %>
        </li>
      <% end %>
    </ol>
  </fieldset>
  <fieldset>
    <ol>
      <li>
        <%= f.check_box :is_manager %>
        <%= f.label :is_manager, 'Manager' %>
      </li>
      <li>
        <%= f.check_box :is_demo %>
        <%= f.label :is_demo, 'Demo (no receipt for shop@baze.dk)' %>
      </li>
      <li>
        <%= f.check_box :is_catalogue %>
        <%= f.label :is_catalogue, 'Catalogue (no orders)' %>
      </li>
      <li>
        <%= f.check_box :superuser %>
        <%= f.label :superuser, 'Super user (can manage other users)' %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
