<%= form_for ['admin', @shop, @user] do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :login %>
        <%= f.text_field :login %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.text_field :password, value: @user.plaintext_password %>
      </li>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>
      <li>
        <%= f.label :department %>
        <%= f.text_field :department %>
      </li>
      <li>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
