<ul id="breadcrumbs">
  <li><%= @shop.name %></li>
  <li>Users</li>
</ul>

<div id="actions">
  <%= link_to 'New user', new_admin_shop_user_path(@shop) %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th><%= @shop.login_text.blank? ? 'Login' : @shop.login_text %></th>
      <th><%= @shop.password_text.blank? ? 'Password' : @shop.password_text %></th>
      <th>Department</th>
      <th>Manager</th>
      <th class="number">Budget</th>
      <th class="number">Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, edit_admin_shop_user_path(@shop, user) %></td>
        <td><%= user.login %></td>
        <td><%= user.plaintext_password %></td>
        <td><%= user.department %></td>
        <td><%= user.manager.name if user.manager %></td>
        <td class="number"><%= number_to_smart_currency user.budget, @shop.currency %></td>
        <td class="number"><%= number_to_smart_currency user.balance, @shop.currency %></td>
      </tr>
    <% end %>
  </tbody>
</table>
