<ul id="breadcrumbs">
  <li><%= @shop.name %></li>
  <li>Users</li>
</ul>

<div id="actions">
  <%= link_to 'New user', new_admin_shop_user_path(@shop) %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th><%= @shop.login_text || 'Login' %></th>
      <th><%= @shop.password_text || 'Password' %></th>
      <th>Department</th>
      <th>Manager</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, edit_admin_shop_user_path(@shop, user) %></td>
        <td><%= user.login %></td>
        <td><%= user.plaintext_password %></td>
        <td><%= user.department %></td>
        <td><%= user.manager.name if user.manager %></td>
      </tr>
    <% end %>
  </tbody>
</table>
