<div id="product">
  <div id="product_image">
    <% @product.images.order(:position).each do |image| %>
      <%= link_to image.image.url, class: :image do %>
        <%= image_tag image.image.url(:thumb) %>
      <% end unless image.nil? %>
    <% end %>
    <% if @product.images.count > 1 %>
      <div id="image_nav">
        <%= link_to '&larr;'.html_safe, '#', class: 'prev_image' %>
        <span id="current_image">1</span>
        /
        <span id="total_images"><%= @product.images.count %></span>
        <%= link_to '&rarr;'.html_safe, '#', class: 'next_image' %>
      </div>
    <% end %>
  </div>

  <h1><%= @product.name %></h1>
  <%= content_tag :h2, @product.number if @product.number %>

  <div id="text">
    <%== markdown @product.text %>
  </div>

  <div id="price">
    <%= number_to_smart_currency @product.gross_price, @shop.currency if @product.gross_price %>
  </div>

  <%= form_for [@shop, @product, @line_item] do |f| %>
    <% @product.option_sets.each do |option_set| %>
      <div class="options">
        <label><%= option_set.name %></label>
        <% options = @product.options.joins(:option_group).where('option_set_id = ?', option_set.id) %>
        <% if options.count > 1 or option_set.optional %>

          <select name="variants[]">
            <% if option_set.optional %>
              <option value=""></option>
            <% else %>
              <option value="">V&aelig;lg <%= option_set.name %>...</option>
            <% end %>

            <% option_set.option_groups.each do |option_group| %>
              <% if options.collect(&:option_group_id).uniq.count > 1 and options.collect(&:option_group_id).uniq.include? option_group.id %>
                <optgroup label="<%= option_group.name %>">
              <% end %>

              <% option_group.options.each do |option| %>
                <% if @product.options.include? option %>
                  <% variant = @product.variants.where(option_id: option.id).last %>
                  <% last_line_item = current_user.line_items.where(product_id: @product.id).last %>
                  <% is_last_selected = last_line_item ? (last_line_item.variations.collect(&:variant).compact.collect(&:option).include? option) : false %>>
                  <option value="<%= variant.id %>" <%= 'selected="selected"' if is_last_selected %>>
                    <%= variant.option.name %>
                    <%= "(+ #{number_to_smart_currency variant.derived_gross_price, @shop.currency})" if variant.derived_gross_price %>
                    <%= " (Senest valgte)" if is_last_selected %>
                  </option>
                <% end %>
              <% end %>

              <% if options.collect(&:option_group_id).uniq.count > 1 %>
                </optgroup>
              <% end %>
            <% end %>
          </select>

        <% else %>
          <% variant = @product.variants.where(option_id: options.first.id).first %>
          <%= hidden_field_tag 'variants[]', variant.id %>
          <span class="option"><%= variant.option.name %></span>
        <% end %>
      </div>
    <% end %>

    <% unless current_user.is_catalogue %>
      <div>
        <%= f.label :quantity, 'Antal' %>
        <%= f.select :quantity, options_for_select((1..20).collect { |n| [n, n] }) %>
      </div>
      <div id="add_to_cart">
        <%= f.submit 'Tilf&oslash;j til kurv'.html_safe %>
      </div>
    <% end %>
  <% end %>
</div>
