<%= content_tag :div, class: :cart do %>
  <table>
    <thead>
      <tr>
        <th colspan="9">Kurv</th>
    </thead>
    <tbody>
      <% current_user.line_items.current.each do |line_item| %>
        <tr>
          <td><%= line_item.product_name %></td>
          <td><%= line_item.product_number %></td>
          <td>
            <% line_item.variations.each do |variation| %>
              <%= variation.option_set_name %>: <%= variation.option_name %>
              <%= "(+ #{number_to_smart_currency variation.gross_price, @shop.currency})" if variation.gross_price %>
              <br>
            <% end %>
          </td>
          <td><%= number_to_smart_currency line_item.product_gross_price, @shop.currency if line_item.product_gross_price %></td>
          <td class="action"><%= button_to '-', decrement_shop_line_item_path(@shop, line_item), method: :put %></td>
          <td class="number"><%= line_item.quantity %> stk.</td>
          <td class="action"><%= button_to '+', increment_shop_line_item_path(@shop, line_item), method: :put %></td>
          <td class="action"><%= button_to 'Slet', shop_line_item_path(@shop, line_item), method: :delete %></td>
          <td class="number">
            <%= number_to_smart_currency line_item.gross_price, @shop.currency if line_item.gross_price %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th colspan="8">Total</th>
        <th class="number">
          <%= number_to_smart_currency current_user.line_items.current.collect(&:gross_price).compact.inject(&:+), @shop.currency %>
        </th>
      </tr>
    </tbody>
  </table>
<% end unless current_user.line_items.current.count == 0 %>

<% if @shop.reject_order_on_exceeded_budget and current_user.balance - current_user.line_items.current.collect(&:gross_price).compact.inject(&:+) < 0 %>
  <strong>Denne ordre kan ikke afgives, da den vil overskride dit budget.</strong>

  <% if @shop.allow_payment %>
    <p>Alternativt kan du betale med kreditkort:</p>
    <form action="https://pay.dandomain.dk/proxy.aspx" method="GET">
      <input type="hidden" name="MerchantNumber" value="4642759">
      <input type="hidden" name="TunnelURL" value="<%= pay_shop_url @shop %>">
      <input type="hidden" name="Amount" value="<%= current_user.line_items.current.collect(&:gross_price).compact.inject(&:+) %>">
      <input type="hidden" name="OrderID" value="<%= [current_user.id, Time.now.strftime('%y%m%d%H%M%S')].join %>">
      <input type="hidden" name="CurrencyID" value="208">
      <input type="submit" value="G&aring; til betaling...">
    </form>
  <% end %>

<% else %>
  <%= form_for [@shop, @order] do |f| %>
    <% @shop.fields.each do |field| %>
      <div class="fields">
        <%= label_tag dom_id(field), field.text, class: field.required ? 'required' : nil %>
        <%= text_field_tag 'fields[][text]', nil, id: dom_id(field) %>
        <%= hidden_field_tag 'fields[][id]', field.id %>
      </div>
    <% end %>
    <div class="fields">
      <%= f.label :comment, 'Kommentar' %>
      <%= f.text_area :comment %>
    </div>

    <div class="submit">
      <%= f.submit 'Afgiv bestilling' %>
    </div>
  <% end unless current_user.line_items.current.count == 0 %>
<% end %>

<%= content_tag :div do %>
  <p>Der er ingen varer i kurven.</p>
<% end if current_user.line_items.current.count == 0 %>
