<div class="cart">
  <table>
    <thead>
      <tr>
        <th colspan="6">Kurv</th>
    </thead>
    <tbody>
      <% current_user.line_items.current.each do |line_item| %>
        <tr>
          <td><%= line_item.product_name %></td>
          <td><%= line_item.product_number %></td>
          <td>
            <% line_item.variations.each do |variation| %>
              <%= variation.option_set_name %>: <%= variation.option_name %>
              <%= "(+ #{number_to_smart_currency variation.gross_price, @shop.currency})" if variation.gross_price %>
              <br>
            <% end %>
          </td>
          <td><%= number_to_smart_currency line_item.product_gross_price, @shop.currency if line_item.product_gross_price %></td>
          <td class="number"><%= line_item.quantity %> stk.</td>
          <td class="number">
            <%= number_to_smart_currency line_item.gross_price, @shop.currency if line_item.gross_price %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th colspan="5">Total</th>
        <th class="number">
          <%= number_to_smart_currency current_user.line_items.current.collect(&:gross_price).compact.inject(&:+), @shop.currency %>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<%= form_for [@shop, @order] do |f| %>
  <div class="fields">
    <%= f.label :comment, 'Kommentar' %>
    <%= f.text_area :comment %>
  </div>

  <div class="submit">
    <%= f.submit 'Afgiv bestilling' %>
  </div>
<% end %>
