<%# Sanity. %>
<% @shop.free_shipping_over = 1000000 if not @shop.free_shipping_over %>
<%= content_tag :div, class: :cart do %>
  <table>
    <thead>
      <tr>
        <th colspan="9">Kurv</th>
    </thead>
    <tbody>
      <% current_user.line_items.current.each do |line_item| %>
        <tr>
          <td><%= line_item.product_name %></td>
          <td><%= line_item.product_number %></td>
          <td>
            <% line_item.variations.each do |variation| %>
              <%= variation.option_set_name %>: <%= variation.option_name %>
              <%= "(+ #{number_to_smart_currency variation.gross_price, @shop.currency})" if variation.gross_price %>
              <br>
            <% end %>
          </td>
          <td><%= number_to_smart_currency line_item.product_gross_price, @shop.currency if line_item.product_gross_price %></td>
          <td class="action"><%= button_to '-', decrement_shop_line_item_path(@shop, line_item), method: :put unless line_item.product.category.reorder_period %></td>
          <td class="number"><%= line_item.quantity %> stk.</td>
          <td class="action"><%= button_to '+', increment_shop_line_item_path(@shop, line_item), method: :put unless line_item.product.category.reorder_period %></td>
          <td class="action"><%= button_to 'Slet', shop_line_item_path(@shop, line_item), method: :delete %></td>
          <td class="number">
            <%= number_to_smart_currency line_item.gross_price, @shop.currency if line_item.gross_price %>
          </td>
        </tr>
      <% end %>
        <tr>
          <th colspan="8">Pris</th>
          <th class="number">
            <%= number_to_smart_currency current_user.line_items.current.collect(&:gross_price).compact.inject(&:+), @shop.currency %>
          </th>
        </tr>
      <% gross_price = current_user.line_items.current.collect(&:gross_price).compact.inject(&:+) %>
      <% gross_price = gross_price.nil? ? 0 : gross_price %>
      <% all_products_are_reorder_limited = current_user.line_items.current.collect(&:product).collect(&:category).collect(&:reorder_period).collect { |rp| rp ? nil : true }.compact.size == 0 %>
      <% if @shop.shipping_price and gross_price < @shop.free_shipping_over and not all_products_are_reorder_limited %>
        <tr>
          <th colspan="8">Fragt</th>
          <th class="number">
            <%= number_to_smart_currency @shop.shipping_price, @shop.currency %>
          </th>
        </tr>
      <tr>
        <th colspan="8">Total</th>
        <th class="number">
          <%= number_to_smart_currency ((@shop.shipping_price ? @shop.shipping_price : 0) + gross_price), @shop.currency %>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end unless current_user.line_items.current.count == 0 %>


<% if @shop.reject_order_on_exceeded_budget and (current_user.balance || 0) - (current_user.line_items.current.collect(&:gross_price).compact.inject(&:+) || 0) < 0 %>
  <strong>Denne ordre kan ikke afgives, da den vil overskride dit budget.</strong>

  <% if @shop.allow_payment %>
    <% amount = (current_user.line_items.current.collect(&:gross_price).compact.inject(&:+) - (current_user.balance.nil? ? 0 : current_user.balance)).to_i + (@shop.shipping_price ? @shop.shipping_price : 0) %>
    <% if current_user.line_items.current.collect(&:gross_price).compact.inject(&:+) >= @shop.free_shipping_over %>
        <% amount -= @shop.shipping_price %>
    <% end %>
    <% vat = @shop.add_vat ? 0.25 * amount : 0 %>
    <% order_id = [current_user.id, Time.now.strftime('%y%m%d%H%M%S')].join %>
    <p>Alternativt kan du betale differencen p&aring; <strong><%= number_to_smart_currency(amount + vat, '').gsub('.', ',') %> kr.</strong><%== " (heraf moms kr. <strong>#{number_to_smart_currency(vat, '').gsub('.', ',')} kr.</strong>)" if @shop.add_vat %> med kreditkort:</p>
    <%# validate form and submit asynchronously %>
    <p> Stjernemarkerede felter <em>skal</em> udfyldes.</p>

    <form method="post" action="https://onpay.io/window/v3/" id="payment">
      <input type="hidden" name="baze_shop" value="<%= @shop.link %>">
      <input type="hidden" name="onpay_accepturl" value="http://shop.baze.dk/shops/<%= @shop.link %>/payment_ok">
      <input type="hidden" name="onpay_amount" value="<%= ((amount + vat) * 100).to_i %>">
      <input type="hidden" name="onpay_currency" value="DKK">
      <input type="hidden" name="onpay_declineurl" value="http://shop.baze.dk/shops/<%= @shop.link %>/payment_fail">
      <input type="hidden" name="onpay_gatewayid" value="4642759">
      <input type="hidden" name="onpay_reference" value="<%= order_id %>">
      <input type="hidden" name="onpay_hmac_sha1" value="<%= onpay_hash('4642759', 'DKK', ((amount + vat) * 100).to_i, order_id,
	"http://shop.baze.dk/shops/" + @shop.link + "/payment_ok",
	"http://shop.baze.dk/shops/" + @shop.link + "/payment_fail"
      ) %>">
      <% @shop.fields.each do |field| %>
        <div class="fields">
          <%= label_tag dom_id(field), class: field.required ? 'required' : nil do %>
            <%= field.text %>
            <% if field.required %>
              <span class="required_indicator">*</span>
            <% end %>
          <% end %>
          <%= text_field_tag 'fields[][text]', nil, id: dom_id(field) %>
          <%= hidden_field_tag 'fields[][id]', field.id %>
        </div>
      <% end %>
      <div class="fields">
        <%= label_tag :baze_comment, 'Kommentar' %>
        <%= text_area_tag :baze_comment %>
      </div>
      <fieldset>
        <ol>
          <li>
            <input type="checkbox" name="accept_terms" id="accept_terms">
            <label for="accept_terms">Accept&eacute;r handelsbetingelser</label> (<a href="/shops/<%= @shop.link %>/terms" target="_blank">&aring;bn i nyt vindue</a>)
          </li>
          <li>
            <input id="go_to_payment" type="submit" value="G&aring; til betaling..." disabled="disabled">&nbsp;
            <%= image_tag 'payments.png', style: 'vertical-align: middle' %>
          </li>
        </ol>
      </fieldset>
    </form>

    <!--<form action="https://pay.dandomain.dk/proxy.aspx" method="POST" id="payment">
      <input type="hidden" name="MerchantNumber" value="4642759">
      <input type="hidden" name="TunnelURL" value="http://shop.baze.dk/shops/<%= @shop.link %>/pay">
      <input type="hidden" name="Amount" value="<%= (amount + vat).to_s.gsub('.', ',') %>">
      <input type="hidden" name="OrderID" value="<%= order_id %>">
      <input type="hidden" name="CurrencyID" value="208">
      <input type="hidden" name="AddFormPostVars" value="1">
      <input type="hidden" name="baze_amount" value="<%= (amount + vat).to_s.gsub('.', ',') %>">
      <input type="hidden" name="baze_order_id" value="<%= order_id %>">
      <input type="hidden" name="baze_shop" value="<%= @shop.link %>">
      <% @shop.fields.each do |field| %>
        <div class="fields">
          <%= label_tag dom_id(field), class: field.required ? 'required' : nil do %>
            <%= field.text %>
            <% if field.required %>
              <span class="required_indicator">*</span>
            <% end %>
          <% end %>
          <%= text_field_tag 'fields[][text]', nil, id: dom_id(field) %>
          <%= hidden_field_tag 'fields[][id]', field.id %>
        </div>
      <% end %>
      <div class="fields">
        <%= label_tag :baze_comment, 'Kommentar' %>
        <%= text_area_tag :baze_comment %>
      </div>
      <fieldset>
        <ol>
          <li>
            <input type="checkbox" name="accept_terms" id="accept_terms">
            <label for="accept_terms">Accept&eacute;r handelsbetingelser</label> (<a href="/shops/<%= @shop.link %>/terms" target="_blank">&aring;bn i nyt vindue</a>)
          </li>
          <li>
            <input id="go_to_payment" type="submit" value="G&aring; til betaling..." disabled="disabled">&nbsp;
            <%= image_tag 'payments.png', style: 'vertical-align: middle' %>
          </li>
        </ol>
      </fieldset>
    </form>-->
  <% end %>

<% else %>
  <%# validate form and submit asynchronously %>
  <p> Stjernemarkerede felter <em>skal</em> udfyldes.</p>
  <%= form_for [@shop, @order] do |f| %>
    <% @shop.fields.each do |field| %>
      <div class="fields">
        <%= label_tag dom_id(field), class: field.required ? 'required' : nil do %>
          <%= field.text %>
          <% if field.required %>
            <span class="required_indicator">*</span>
          <% end %>
        <% end %>
        <%= text_field_tag 'fields[][text]', nil, id: dom_id(field) %>
        <%= hidden_field_tag 'fields[][id]', field.id %>
      </div>
    <% end %>
    <div class="fields">
      <%= f.label :comment, 'Kommentar' %>
      <%= f.text_area :comment %>
    </div>

    <div class="submit">
      <%= f.submit 'Afgiv bestilling' %>
    </div>
  <% end unless current_user.line_items.current.count == 0 %>
<% end %>

<%= content_tag :div do %>
  <p>Der er ingen varer i kurven.</p>
<% end if current_user.line_items.current.count == 0 %>
