<!DOCTYPE html>
<html>
  <head>
    <title>Bazeshop</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <nav>
    <ul>
      <%= content_tag :li, class: current_page?(admin_option_sets_path) ? 'active' : nil do %>
        <%= link_to 'Option sets', admin_option_sets_path %>
      <% end %>
      <%= content_tag :li, class: current_page?(new_admin_shop_path) ? 'active' : nil do %>
        <%= link_to 'New shop', new_admin_shop_path %>
      <% end %>
    </ul>

    <ul>
      <% Shop.all.each do |shop| %>
        <%= content_tag :li, class: current_shop?(shop) ? 'active' : nil do %>
          <%= link_to shop.name, "##{shop.link}" %>
          <ul>
            <%= content_tag :li, class: current_page?(edit_admin_shop_path(shop)) ? 'active' : nil do %>
              <%= link_to 'Edit shop', edit_admin_shop_path(shop) %>
            <% end %>

            <%= content_tag :li, class: current_page?(admin_shop_categories_path(shop)) ? 'active' : nil do %>
              <%= link_to admin_shop_categories_path(shop) do %>
                Categories <span><%= shop.categories.count %></span>
              <% end %>
            <% end %>

            <%= content_tag :li, class: current_page?(admin_shop_products_path(shop)) ? 'active' : nil do %>
              <%= link_to admin_shop_products_path(shop) do %>
                Products <span><%= shop.products.count %></span>
              <% end %>
            <% end %>

            <%= content_tag :li do %>
              <%= link_to admin_shop_path(shop), class: 'delete', data: { confirm: 'Can only delete shop without associations. Are you sure?' }, method: :delete do %>
                Delete shop
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>
  </nav>

  <%= content_tag :div, id: 'notice' do %>
    <%= flash[:notice] %>
  <% end if flash[:notice] %>

  <%= content_tag :div, id: 'error' do %>
    <%= flash[:error] %>
  <% end if flash[:error] %>

  <div id="content">
    <%= yield %>
  </div>

  </body>
</html>
