<!DOCTYPE html>
<html>
  <head>
    <title><%= @shop.name %></title>
    <%= stylesheet_link_tag 'style', media: :all %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="header">
    <div class="content">
      <%= image_tag @shop.logo %>
      <%= content_tag :span do %>
        <%= current_user.name %><br>
        <%= link_to 'Log ud', destroy_user_session_path %>
      <% end if user_signed_in? %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div id="nav">
      <div class="content">
        <ul>
          <li><%= link_to 'Velkommen', @shop %></li>
          <%= render @shop.categories.top %>
        </ul>
      </div>
    </div>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>

  <%= content_tag :div, id: 'cart' do %>
    <h1>Kurv</h1>
    <table>
      <thead>
        <tr>
          <th>Produkt</th>
          <th>Varianter</th>
          <th class="number">Antal</th>
          <th class="number">Pris</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.line_items.current.each do |line_item| %>
          <tr>
            <td><%= line_item.product_name %></td>
            <td></td>
            <td class="number"><%= line_item.quantity %></td>
            <td class="number">
              <%= number_to_smart_currency line_item.gross_price, @shop.currency %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'G&aring; til bestilling'.html_safe, shop_line_items_path(@shop) %>
  <% end if current_user.line_items.current.count > 0 %>

  <div id="footer">
    <div class="content">
      &copy; 2009-<%= Time.now.year %> Baze A/S
    </div>
  </div>

  </body>
</html>
