<!DOCTYPE html>
<html>
  <head>
    <title><%= @shop.name %></title>
    <%= stylesheet_link_tag 'style', media: :all %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      <% unless @shop.link_style.blank? %>
        a { color: <%= @shop.link_style %>; }
        div#nav, div.cart table th, div#content table.order tr th { background-color: <%= @shop.link_style %>; }
        div#content, div#cart { border: 5px solid <%= @shop.link_style %>; border-width: 5px 0 1px 0; }
      <% end %>
      <% unless @shop.header_style.blank? %>
        div#header { background-color: <%= @shop.header_style %>; }
      <% end %>
      <% unless @shop.custom_style.blank? %>
        <%= @shop.custom_style %>
      <% end %>
    </style>
  </head>
  <body>

  <div id="header">
    <div class="content">
      <%= image_tag @shop.logo %>
      <%= content_tag :span do %>
        <% if @shop.allow_proxy_orders and current_user.is_manager %>
          <% users = @shop.users.where('manager_id = ?', current_user.id) %>
          <% if users.count > 0 %>
            <%= form_tag switch_shop_path(@shop) %>
            <!--<form action="<%= switch_shop_path(@shop) %>" method="post" data-shop="<%= shop_path(@shop) %>">-->
              Bestil som&nbsp;
              <select id="user_switch" name="user[login]">
                <option value="<%= current_user.login %>" data-value="<%= current_user.plaintext_password %>"><%= current_user.name %></option>
                <% users.each do |user| %>
                  <option value="<%= user.login %>" data-value="<%= user.plaintext_password %>"><%= user.name %></option>
                <% end %>
              </select>
            </form>
          <% end %>
        <% else %>
          <%= current_user.name %><br>
        <% end %>
        <%= number_to_smart_currency current_user.balance, @shop.currency if not current_user.balance.nil? and current_user.balance != 0 %><br>
        <%= link_to 'Log ud', destroy_user_session_path(@shop) %>
      <% end if user_signed_in? %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div id="nav">
      <div class="content">
        <ul>
          <li><%= link_to 'Velkommen', @shop %></li>
          <%= render @shop.categories.top %>
          <%= content_tag :li, link_to('Historik', shop_orders_path(@shop)) if current_user.orders.count > 0 %>
          <%= content_tag :li, link_to('Administration'.html_safe, shop_users_path(@shop)) if current_user.superuser and current_user.shop == @shop %>
        </ul>
      </div>
    </div>
  <% end %>

  <div id="content">
    <%= content_tag :div, class: 'error' do %>
      <%== flash[:error] %>
    <% end if flash[:error] %>
    <%= yield %>
  </div>

  <%= content_tag :div, id: 'cart', class: 'cart' do %>
    <table>
      <thead>
        <tr>
          <th colspan="9">Kurv</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.line_items.current.each do |line_item| %>
          <tr>
            <td><%= line_item.product_name %></td>
            <td><%= line_item.product_number %></td>
            <td>
              <% line_item.variations.each do |variation| %>
                <%= variation.option_set_name %>:
                <%= variation.option_name %>
                <%= " (+ #{number_to_smart_currency variation.gross_price, @shop.currency})" if variation.gross_price %>
                <br>
              <% end %>
            </td>
            <td><%= number_to_smart_currency line_item.product_gross_price, @shop.currency if line_item.product_gross_price %></td>
            <td class="action"><%= button_to '-', decrement_shop_line_item_path(@shop, line_item), method: :put %></td>
            <td class="number"><%= line_item.quantity %> stk.</td>
            <td class="action"><%= button_to '+', increment_shop_line_item_path(@shop, line_item), method: :put %></td>
            <td class="action"><%= button_to 'Slet', shop_line_item_path(@shop, line_item), method: :delete %></td>
            <td class="number">
              <%= number_to_smart_currency line_item.gross_price, @shop.currency if line_item.gross_price %>
            </td>
          </tr>
        <% end %>
        <tr>
          <th colspan="8">Total</th>
          <th class="number">
            <%= number_to_smart_currency current_user.line_items.current.collect(&:gross_price).compact.inject(&:+), @shop.currency %>
          </th>
        </tr>
      </tbody>
    </table>

    <%= link_to 'G&aring; til bestilling'.html_safe, shop_line_items_path(@shop) %>
  <% end if current_user and current_user.line_items.current.count > 0 and not controller.controller_name == 'line_items' %>

  <div id="footer">
    <div class="content">
      &copy; 2009-<%= Time.now.year %> Baze A/S
    </div>
  </div>

  </body>
</html>
