<!DOCTYPE html>
<html>
  <head>
    <title><%= @shop.name %></title>
    <%= stylesheet_link_tag 'style', media: :all %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="header">
    <div class="content">
      <%= image_tag @shop.logo %>
      <%= content_tag :span do %>
        <%= current_user.name %><br>
        <%= link_to 'Log ud', destroy_user_session_path(@shop) %>
      <% end if user_signed_in? %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div id="nav">
      <div class="content">
        <ul>
          <li><%= link_to 'Velkommen', @shop %></li>
          <%= render @shop.categories.top %>
        </ul>
      </div>
    </div>
  <% end %>

  <div id="content">
    <%= content_tag :div, class: 'error' do %>
      <%== flash[:error] %>
    <% end if flash[:error] %>
    <%= yield %>
  </div>

  <%= content_tag :div, id: 'cart', class: 'cart' do %>
    <h1>Kurv</h1>
    <table>
      <thead>
        <tr>
          <th>Produkt</th>
          <th>Stykpris</th>
          <th>Varianter</th>
          <th class="number">Antal</th>
          <th class="number">Pris</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.line_items.current.each do |line_item| %>
          <tr>
            <td><%= line_item.product_name %></td>
            <td><%= number_to_smart_currency line_item.product_gross_price, @shop.currency if line_item.product_gross_price %></td>
            <td>
              <% line_item.variations.each do |variation| %>
                <%= variation.option_set_name %>: <%= variation.option_name %>
                <%= "(+ #{number_to_smart_currency variation.gross_price, @shop.currency})" if variation.gross_price %>
                <br>
              <% end %>
            </td>
            <td class="number"><%= line_item.quantity %></td>
            <td class="number">
              <%= number_to_smart_currency line_item.gross_price, @shop.currency if line_item.gross_price %>
            </td>
          </tr>
        <% end %>
        <tr>
          <th colspan="4">Total</th>
          <th class="number">
            <%= number_to_smart_currency current_user.line_items.current.collect(&:gross_price).compact.inject(&:+), @shop.currency %>
          </th>
        </tr>
      </tbody>
    </table>

    <%= link_to 'G&aring; til bestilling'.html_safe, shop_line_items_path(@shop) %>
  <% end if current_user and current_user.line_items.current.count > 0 and not controller.controller_name == 'line_items' %>

  <div id="footer">
    <div class="content">
      &copy; 2009-<%= Time.now.year %> Baze A/S
    </div>
  </div>

  </body>
</html>
