<!DOCTYPE html>
<html>
  <head>
    <title><%= @shop.name %></title>
    <%= stylesheet_link_tag 'style', media: :all %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="header">
    <div class="content">
      <%= image_tag @shop.logo %>
    </div>
  </div>

  <div id="nav">
    <div class="content">
      <ul>
        <li><%= link_to 'Velkommen', @shop %></li>
        <%= render @shop.categories.top %>
      </ul>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
    <div class="content">
      &copy; 2009-<%= Time.now.year %> Baze A/S
    </div>
  </div>

  </body>
</html>
