<!DOCTYPE html>
<html>
<head>
  <title>Bazeshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <%= content_tag :li, class: current_page?(new_admin_shop_path) ? 'active' : nil do %>
      <%= link_to 'New shop', new_admin_shop_path %>
    <% end %>
    <% Shop.all.each do |shop| %>
      <%= content_tag :li, class: current_shop?(shop) ? 'active' : nil do %>
        <%= link_to shop.name, "##{shop.link}" %>
        <ul>
          <%= content_tag :li, class: current_page?(edit_admin_shop_path(shop)) ? 'active' : nil do %>
            <%= link_to 'Edit shop', edit_admin_shop_path(shop) %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
</nav>

<%= content_tag :div, id: 'notice' do %>
  <%= flash[:notice] %>
<% end if flash[:notice] %>

<%= content_tag :div, id: 'error' do %>
  <%= flash[:error] %>
<% end if flash[:error] %>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
