<!DOCTYPE html>
<html>
<head>
  <title>Bazeshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><%= link_to 'New shop', new_admin_shop_path %></li>
    <% Shop.all.each do |shop| %>
      <li>
        <%= shop.name %>
        <ul>
          <li><%= link_to 'Edit shop', edit_admin_shop_path(shop) %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>

<%= content_tag :div, id: 'notice' do %>
  <%= flash[:notice] %>
<% end if flash[:notice] %>

<%= content_tag :div, id: 'error' do %>
  <%= flash[:error] %>
<% end if flash[:error] %>

<%= yield %>

</body>
</html>
